{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <h1>Add Blog Post...</h1>

    <br><br>

    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Post</button>
        </form>
    </div>

    <script>
        var name = '{{ user.id }}'
        document.getElementById('user').value = name
    </script>

{% else %}

    <h1>You must login first!!!</h1>

{% endif %}

{% endblock %}